<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitHost" value="amqp://prawn.rmq.cloudamqp.com/rxxhuxap" />
    <add key="rabbitUser" value="rxxhuxap" />
    <add key="rabbitPassword" value="MxODcgpM3I39QpKu4UgSxXvwtIxBOCVE" />
    <add key="rabbitQueue" value="airlines-tickets" />
  </appSettings>
</configuration>